<ngb-tabset>
  <ngb-tab title="Overview">
    <ng-template ngbTabContent>
      <performance-analysis-overview></performance-analysis-overview>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Origin Basis">
    <ng-template ngbTabContent>
        <performance-analysis-user-origin-basis></performance-analysis-user-origin-basis>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Behavior Basis">
    <ng-template ngbTabContent>
        <performance-analysis-user-behavior-basis></performance-analysis-user-behavior-basis>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
